table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  /* border: 1px solid #dddddd; */
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
h3{
  text-align: center;
  background: blue;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  width: 198px;
  color:white;
}

.material-icons{
  margin-top: 8px;
  font-size: 40px;
  color: blue;
}
.fa-comment-dots{
  font-size: 30px;
  margin-left: 20px;
  margin-top: 15px;
  margin-right: 14px;
  color: blue;
}